#megjelenito {
    animation: 1s h1;
}
@keyframes h1 {
    0% {
        scale: 1; 
    }
    25% {
        scale: 1.5; transform: rotate(30deg)
    }
    50% {
        scale: 1.5;
    }
    75% {
        scale: 1.5; transform: rotate(-30deg)
    }
    100% {
        scale: 1; 
    }
}