:root {
    
    --sotetlila: rgb(87, 31, 105); /* fejléc, lábléc */
    --feherlila: rgb(179, 154, 187); /* fejléc kijelölés */
    --sotetkek: rgb(28,37,63);/* háttér */
    --sotetszurke: rgb(35,38,39);
    --szurke: rgb(53, 50, 50);

    /*--vilagoslila: rgb(138, 79, 255);
    --sotetkek2: rgb(29,35,49);
    --vilagoskek: rgb(37, 183, 250);
    --zoldeskek: rgb(0, 109, 119);
    --sotetzold: rgb(0, 60, 60);
    --szurke: rgb(43, 42, 51);
    --vilagosszurke: rgb(66, 64, 73);*/

    --szin1: rgb(22,30,50); /* hatter */
    --szin2: rgb(70,25,84); /* fejlec,lablec */
    --szin3: rgb(11,15,25); /* ajanlo */
    --szin4: rgb(35,38,39); /* szurke regist/login */
}
/*Alap*/
*{
    box-sizing: border-box;
}
body {
    background-color: var(--sotetkek);
    color: white;
    min-width: 300px;
    font-family: 'Kanit', sans-serif;
}
main {
    margin: 0 !important;
    padding: 0 !important;
}
.hatternav, footer {
    background-color: var(--sotetlila);
}
nav .navbar-brand {
    margin-right: 0 !important;
}
nav .navbar-brand > img {
    width: 125px;
}
nav a.navbar-brand:hover {
    transition: transform .2s;
    transform: scale(1.05);
    color: var(--feherlila) !important;
    text-decoration: underline;
}
nav li.nav-item a:hover {
    transition: transform .2s;
    transform: scale(1.025);
    text-decoration: underline;
    color: var(--feherlila) !important;
}
a.nav-link {
    color: white !important;
}
nav .dropdown-item, .dropdown-menu {
    background-color: var(--sotetlila);
    color: white;
}
nav .dropdown-item:hover {
    color: var(--feherlila);
    background-color: var(--sotetlila) !important;
}
.modal span {
    font-weight: bold;
}
main {
    min-height: 100vh;
}
footer {
    line-height: 56px;
}
a.linkek {
    color: white;
}
.navbar-brand {
    font-family: 'Protest Revolution', sans-serif !important;
    letter-spacing: .25rem !important;
}
.navbar-brand:hover {
    text-decoration: none !important;
}

/*Felugró ablak*/
.modal-body {
    background-color: var(--sotetkek);
    text-align: justify;
}
.modal-header, .modal-footer {
    background-color: var(--sotetlila);
    color: white;
}
#felugro_kep {
    width: 60%;
}
#kilepModal input[type="submit"], #kilepModal button {
    cursor: pointer;
}

/*Beviteli mezők és gombok*/
/*input[type="text"],input[type="password"],input[type="button"],button{
    color: white;
    background-color: var(--sotetszurke);
    border: 1px solid var(--szurke);
}
input[type="text"]:hover,input[type="password"]:hover,input[type="button"]:hover,button:hover {
    background-color: var(--szurke);
    border: 1px solid white;
    transition: ease-in-out 0.1s;
}*/
input[type="radio"]{
    border: 0px;
    width: 100%;
    height: 2em;
}

/*html {
    color-scheme: dark !important;
}*/

.ikon {
    width: 43.2px;
    height: 43.2px;
}

#megjelenito {
    min-height: 25vh;
    font-size: 6em;
    background: red;
}