:root {
    --feher: #f0f0f0;
    --fekete: black;

    /*Sötét téma*/
    --sotetkek: #021f4c; /*fejléc,lábléc*/
    --sotetlila: #1a1a2e;/*háttérszín*/

    /*Világos téma*/
    --kek: #2e3192; /*fejléc,lábléc*/
    --feher: #f0f0f0; /*háttér*/
}

/* Alap */
body, .modal {
    min-width: 300px !important;
}
* {
    transition: 0.25s;
}

/* Menü */
.navbar-brand:hover, .nav-link:hover{
    transform: scale(1.125);
}
.nav-link:hover{
    text-decoration: underline;
}
.navbar-brand, .nav-link, footer {
    color: var(--feher) !important;
}
button.navbar-toggler {
    border: 1px solid var(--feher);
}
.navbar-toggler:hover {
    box-shadow: 0px 0px 0px 2.5px var(--feher) !important;
}
.navbar-toggler:focus {
    box-shadow: 0px 0px 0px 2.5px var(--feher) !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.nav-link i {
    padding-right: 1px;
}
@media (max-width: 575px) {/*575 , 767*/
    .nav-link:hover{
        text-decoration: none;
    }
    .nav-link:hover::before {
        content: ">>";
        margin-right: 5px;
    }
    .nav-link:hover::after {
        content: "<<";
        margin-left: 5px;
    }
}

/* Felugró ablakok */
.modal-title {
    color: var(--feher);
}

/* Nehézségi szintek (input radio) */
input[name="nehezseg"]{
    width: 100%;
    height: 2em;
}

/* Tudom a megoldást toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border: 0.1px solid black;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider:before {
  transform: translateX(26px);
  background-color: white;
  border:  0.1px solid rgba(0,0,0,0);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
  border: 0.1px solid white;
}
.slider.round:before {
  border-radius: 50%;
}

/* Süti */
button.cookie::before {
    content: "\f563";
    font-family: "Font Awesome 6 Free";
    color: brown;
    font-size: 125%;
}
button.cookie:hover::before {
    content: "\f564";
    font-family: "Font Awesome 6 Free";
    color: brown;
    font-size: 125%;
}
#cookieConsent.show ~ .modal-backdrop {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1 !important;
}

/* Kitalálandó szó */
#megjelenitodoboz {
    height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    text-align: center;
    position: relative;
}
#megjelenito-wrapper {
    min-height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#megjelenito {
    font-weight: bold;
    font-size: 10vw;
    word-break: break-word;
    letter-spacing: 0.5rem;
    font-family: 'Consolas', monospace;
    text-align: center;
}

/* Szem ikon */
#mutatrejt>i {
    width: 20px;
}
/* Kiskrapek */
#emberkep.vilagitas {
    filter: invert(1) brightness(2);
}

/* Fájlbeolvasó */
div#files input[type=file]:hover, input[type="radio"]{
    cursor: pointer;
}
div#files input[type=file]::file-selector-button{
    border-radius: var(--bs-border-radius) !important;
}